:root {
    --app-margin: 20px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Cantarell";
}

body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
}

body {
    padding: var(--app-margin);
    gap: 20px;
}
