#navigation-bar {
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: space-between;
}

#navigation-bar > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#navigation-bar > div > #link-underline {
    position: absolute;
    height: 2px;
    width: 46px;
    top: 49px;
    border-radius: 2px;
    background-color: black;
    transition: 500ms;
}

#navigation-bar > div > label > input {
    display: none;
}

#navigation-bar > div > label > span {
    font-weight: 500;
    cursor: pointer;
}

#app-wrapper {
    display: flex;
    flex-direction: column;
    place-items: start;
    flex: 1;
    padding: 40px;
    border-radius: 20px;
    background-color: #efefef;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    place-items: start;
    transform-origin: left;
    width: 100%;
}

.appear {
    animation: appear 600ms;
}

@keyframes appear {
    0% {
	transform: scale(0);
    }
    100% {
	transform: scale(1);
    }
}

.shift {
    animation: slidein 800ms;
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(150%);
  }
}
